{% extends "characters/index.html" %}

{% block header %}
{% endblock %}

{% block nav %}
    
{% endblock %}

{% block container %}
<nav>
    
</nav>
<div class="container">
    <div class="header">
        <h2>Honkai: Star Rail Characters</h2>
        <p>This is a list of all the Honkai: Star Rail Characters up to version 3.8!</p>
    </div>
    <div class="cards">
        <div class="card">
            <p>NAME: {{ ruan_mei.name }}</p>
            <p>RARITY: {{ ruan_mei.rarity }} Star</p>
            <p>PATH: </p>
            <p>ELEMENT: </p>
            <p>DESCRIPTION: </p>
        </div>
        <div class="card">
            <p>NAME: </p>
            <p>RARITY: {} Star</p>
            <p>PATH: </p>
            <p>ELEMENT: </p>
            <p>DESCRIPTION: </p>
        </div>
    </div>
</div>
{% endblock %}
